#dynamictime {
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(235, 10, 10);
    color: aliceblue;
    font-size: 25px;
    margin-left: 40%;
    border-radius: 2%;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;      
    }